@media (min-width: 200px) {
    /* mountain-jacket page */
    .addtocart-button {
        max-width: 188px;
    }

    /* checkout page */
    .remove-price {
        margin-left: 100px;
    }

}

@media (max-width: 400px) {
    .header {
        max-height: 200px;     
}
}

@media (min-width: 600px) {
    /* product page */
    .product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .products img {
        height: 182px;
        width: 150px;
    }

    /* cart page */
    .cart-img {
        height: 206px;
        width: 200px;
    }
    .cart-details {
        margin-top: 100px;
    }

    /* mountain jacket page */
    .product-one-details {
        max-width: 400px;
    }

    /* button */

    .back-home-button {
        padding: 8px 60px;
    }
}

@media screen and (max-width: 649px) {
    .hidden-mobile {
        visibility: hidden;
        display: none;
    }
    .header {
        min-height: 400px;
        width: 100%;
    }

    .header-one {
        font-size: 20px;
    }
    .header-two {
        font-size: 15px;
    }

    .logo {
        width: 84px;
        height: 50px;
    }
    
}

@media (min-width: 650px) {
    /* Home Page */
    header {
        justify-content: start;
    }
    nav {
        display: block;
        position: relative;
    }
    nav li {
        display: inline-block;
        padding: 0px;
    }
    header label {
        display: none;
    }

    .round-img {
    width: 130px;
    height: 130px;
    }
    .hidden-mobile {
        max-width: 190px;
    }
    
}



@media (max-width: 800px) {
    .logo {
        width: 94px;
        height: 54px;
    }

    /* Home page */
    
    .category-one, .category-two, .category-three {
        padding: 10px 20px
    }
}

@media (min-width: 799px) {
    /* About us page */
    .aboutus-header {
        font-size: 40px;
    }

    .about-image {
        width: 300px;
        height: 200px;
        margin-top: 150px;
        margin-left: auto;
    }
    
    .aboutUs {
        width: 324px;
        height: 434px;
        margin-right: auto;
        
    }
    .aboutus-grid {
        display: grid;
        grid-template-columns: 250px 300px;
        margin-bottom: 200px;
        margin-top: 50px;
        align-content: center;
        justify-content: center;
        gap: 50px;
       }

       /* cart page */
       .checkout-button {
        padding: 8px 80px;
       }
       .cart-header {
        font-size: 20px;
       }




}

@media (min-width: 1000px) {

    /* Head */
    .fa-cart-shopping {
        font-size: 28px;
    }
    .fa-house {
        font-size: 30px;
    }

    /* Menu */
        nav li {
        padding: 0px 30px
        }

    /* Home Page */

        .header {
        min-height: 700px;
        width: 100%;
        }
        .header-one {
            font-size: 70px;
        } 
        .header-two {
            font-size: 40px;
        } 
        .round-img {
            width: 230px;
            height: 230px;
        }  
        .hidden-mobile {
            max-width: 280px;
        }
        .category-one, .category-two, .category-three {
            padding: 10px;
            background-color: #D0E4E5;
            border-radius: 61px;
            border-width: 100px;
            margin-left: 20px;
        } 
        
        /* Contact page */

        .contact-info {
            width: 400px;
            height: 400px;
            margin-left: -20px;
        }
        .contact {
            display: grid;
            grid-template-columns: 610px 400px;
            grid-template-rows: 70% 30%;
            margin-bottom: 200px;
            margin-top: 50px;
            align-content: center;
            justify-content: center;
            gap: 0;

        }
        .contact-input {
            margin-top: 120px;
            margin-left: -130px;
            max-width: 400px;  
        }
        textarea {
            width: 400px;
        }
        .submit {
            margin-left: 170px;
        }

        /* Product page */
        .products img {
            height: 310px;
            width: 260px;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
        }

        /* mountain jacket page */
        .product-one {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
        }
        .product-one-img {
            grid-column: 1;
            grid-row: 1;
            margin-top: 70px;
        }
        .product-one-details {
            grid-column: 2;
            grid-row: 1;
        }
        .center-two {
            grid-column: 2;
            grid-row: 1;
            margin-top: 240px;
        }
        .center-three {
            grid-column: 2;
            grid-row: 1;
            margin-top: 350px;
        }
        .product-info-header {
            text-align: left;
        }
        .product-info {
            margin-top: -300px;
            max-width: 600px;
        }




    /*checkout page*/

    .checkout {
        display: grid;
        grid-template-columns: 150px 1fr 1fr;
        max-width: 1000px;
        gap: 0px;
        margin: 50px auto;
    }
    .row1 {
        display: inline-flex;
        grid-gap: 250px;
    }
    .row2 {
        display: inline-flex;
        grid-gap: 250px;
    }
    
    .row3 {
        display: inline-flex;
        grid-gap: 280px;
        margin-top: 80px;
        font-weight: 700;
    }
    
}

@media (min-width: 1212px) {
    /* First page */
    .newcollection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1100px;
        margin: 100px auto;
    }
    .item1 {
        text-align: left;
        max-width: 490px;
        margin: 0px auto;
    }
    .newcollection-images {
        margin: 20px auto;
    }

    /*About us page */
    .aboutus-header {
        font-size: 40px;
    }

    .about-image {
        width: 556px;
        height: 343px;
    }
    
    .aboutUs {
        width: 524px;
        height: 584px;
        line-height: 35px;
        font-size: large;
        
    }
    .aboutus-grid {
        display: grid;
        grid-template-columns: 550px 600px;
        margin-bottom: 200px;
        margin-top: 50px;
        align-content: center;
        justify-content: center;
        gap: 0;
       }
}


@media (min-width: 1512px) {
    /* menu */
    nav li {
        padding: 0px 40px
    }

    /* First page */
    .round-img {
        width: 312px;
        height: 312px;
    }
    
    .categories {
        align-items: center;
        align-content: center;
    }
    
    .hidden-mobile {
        margin-left: 50px;
    }

    .category-one, .category-two, .category-three {
        padding: 40px;
        background-color: #D0E4E5;
        border-radius: 61px;
        border-width: 100px;
        margin-left: 40px
    }

}